@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hava Durumunu Öğren</h1>
    <form method="get" class="row d-flex justify-content-center mt-4">
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control" type="text" asp-for="Yer" required />
                <button class="btn btn-primary">Öğren</button>
            </div>
        </div>
    </form>
</div>

@if (Model.Yer != null)
{
    <div class="card mt-4">
        <div class="card-body text-center py-3">
            @Model.Yer için Hava Sıcaklığı: @Model.Sicaklik °C
        </div>
    </div>
}